# Segmenting and Clustering Neighborhoods in Toronto

## Part 1

In [68]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [69]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Here I am using pandas to read the table from the URL. Using 'tables' to combine the data into one readable table:

In [70]:
tables = pd.read_html(url)

In [85]:
tables[0].head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [78]:
df=tables[0]

Here I am using dropna to filter out the Nan and Not assigned values in the table.

In [86]:
df_filtered = df.dropna()
df_filtered.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Finally here are the number of rows in the dataframe.

In [84]:
df_filtered.shape

(103, 3)